@font-face {font-family:"P22UndergroundCYProBook"; src:url("../fonts/P22UndergroundCYPro-Book.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"P22UndergroundCYProDemi"; src:url("../fonts/P22UndergroundCYPro-Demi.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"P22UndergroundCYProMedium"; src:url("../fonts/P22UndergroundCYPro-Medium.woff") format("woff"); font-weight:normal; font-style:normal}

html {min-width:1000px; height:100%}

body {min-width:1000px; height:100%; margin:0; padding:0; font:13px/20px "PT Sans", sans-serif; color:#000; background:#fff}

a {color:#cb0a0b; outline:none; transition:color .5s ease}
a:hover {text-decoration:none}

img {border:none}

p {margin:20px 0; padding:0}
h1 {text-transform:uppercase; font:20px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; margin:52px 0 24px 0; padding:0}
.breadcrumbs+h1 {margin-top:0}
h2 {text-transform:uppercase; font:15px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; margin:43px 0 20px 0; padding:0}
h3 {text-transform:uppercase; font:15px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; margin:43px 0 20px 0; padding:0}
h3+p,
h3+ul,
h3+ol {margin-top:-13px}
h4 {text-transform:uppercase; font:12px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; margin:33px 0 20px 0; padding:0}
h4+p {margin-top:-13px}
blockquote {background:#f8f8f8; margin:20px 0; padding:19px 20px 21px 20px; font-style:italic; color:#636363}
ul {margin:10px 0; padding:0; list-style:none}
ul li {margin:10px 0; padding:0 0 0 20px; position:relative}
ul li:before {content:""; display:block; width:6px; height:6px; position:absolute; left:4px; top:8px; background:#c9232b}
ol {margin:10px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:10px 0; padding:0 0 0 20px; position:relative}
ol li:before {content:counter(point)'.'; counter-increment:point 1; left:0; position:absolute; top:2px; font:13px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif}
hr {margin:20px -10px; padding:0; background:#e5e5e5; height:1px; overflow:hidden; border:none}
table {width:100%; border-collapse:collapse; margin:20px 0; border-bottom:2px solid #dbdbdb}
th {text-align:left; font:9px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; opacity:.5; text-transform:uppercase; padding:0 0 6px 0; vertical-align:top; border-bottom:2px solid #dbdbdb}
td {vertical-align:middle; border-top:1px solid #dbdbdb; padding:22px 0}
form {margin:34px 0; padding:0}

.table-cart {width:220px}

.form-error {background:#fcf3f3; text-align:center; margin:20px 0; padding:24px 20px 21px 20px}
.form-error-title {font:15px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase}
.form-error-text {padding:4px 0 0 0}

.wrapper {min-width:1000px; position:relative; width:100%; overflow:hidden; min-height:100%}
.wrapper-inner {padding:0 0 220px 0}

.top {border-bottom:1px solid #d0d0d0}
.top-inner {width:940px; margin:0 auto; padding:0 0 4px 0}
.top-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.top-cabinet {float:left; padding:11px 0 0 11px; width:174px; text-transform:uppercase; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif}
.top-cabinet a {color:#000; text-decoration:none}
.top-cabinet a:hover {color:#cb0a0b}
.top-cabinet a:before {content:""; display:inline-block; vertical-align:middle; width:10px; height:13px; background:url(../images/top-cabinet.png); margin:-4px 8px 0 0}

.top-social {float:left; font-size:0; line-height:0; letter-spacing:-1px; padding:12px 0 0 0; width:171px}
.top-social a {display:inline-block; vertical-align:middle; margin:0 20px 0 0}
.top-social-icon.vk {
	width : 21px;
	height : 12px;
	background : url('../images/social-vk.png');
}
.top-social-icon.vk:hover { background: url('../images/social-vk-color.png'); }
.top-social-icon.fb {
	width : 10px;
	height : 16px;
	background : url('../images/social-fb.png');
}
.top-social-icon.fb:hover { background: url('../images/social-fb-color.png'); }
.top-social-icon.in {
	width : 15px;
	height : 15px;
	background : url('../images/social-in.png');
}
.top-social-icon.in:hover { background: url('../images/social-in-color.png'); }

.top-address {float:left; text-transform:uppercase; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; padding:11px 0 0 0}
.top-address:before {content:""; display:inline-block; vertical-align:middle; width:9px; height:12px; background:url(../images/top-address.png); margin:0 8px 0 0}

.top-search {float:right; padding:8px 0 0 0}
.top-search form {margin:0; padding:0; width:268px; height:21px; border:1px solid #bfbfbf}
.top-search-input {float:left}
.top-search-input input {vertical-align:top; border:none; background:none; color:#000; font:10px/14px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; margin:0; padding:3px 0 0 11px; outline:none; width:228px; height:18px; -webkit-appearance:none}
.top-search-input input::-webkit-input-placeholder {color:#000; opacity:1; text-transform:uppercase}
.top-search-input input::-moz-placeholder {color:#000; opacity:1; text-transform:uppercase}
.top-search-input input:-ms-input-placeholder {color:#000; opacity:1; text-transform:uppercase}
.top-search-submit {float:right; padding:6px 7px 0 0}
.top-search-submit input {vertical-align:top; width:11px; height:11px; border:none; background:url(../images/top-search.png); cursor:pointer; margin:0; padding:0; outline:none; -webkit-appearance:none}

header {padding:30px 10px 30px 0; width:950px; margin:0 auto}
header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.logo {float:left; width:496px; line-height:0}
.header-phones {float:left; font-size:14px; padding:9px 0 0 0}
.header-phones span {color:#b4b3b3}
.header-cart {float:right; position:relative; margin:0 -10px 0 0}
.header-cart .header-cart-link {display:block; text-decoration:none; color:#3d3d3d; padding:12px 10px 0 10px; position:relative; text-transform:uppercase; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif}
.header-cart .header-cart-link:before {content:""; display:inline-block; vertical-align:middle; width:16px; height:13px; margin:-6px 8px 0 0; background:url(../images/header-cart.png)}
.header-cart .header-cart-link span {color:#c80025}
.header-cart:hover .header-cart-link.none {border:1px solid #fff; border-bottom:1px solid #fff; padding:11px 9px 0 9px; z-index:99}
.header-cart:hover .header-cart-link {border:1px solid #7f7f7f; border-bottom:1px solid #fff; padding:11px 9px 0 9px; z-index:99}
.header-cart-list {display:none; position:absolute; top:100%; margin-top:-1px; right:0; z-index:98; border:1px solid #7f7f7f; background:#fff; width:478px}
.header-cart:hover .header-cart-list {display:block}
.header-cart-list table {margin:0; border:none}
.header-cart-list td {border-top:none; border-bottom:1px solid #dbdbdb; padding:20px 0}
.header-cart-list td.header-cart-photo {padding-left:20px; padding-right:20px; line-height:0; width:60px}
.header-cart-list td.header-cart-art {padding-right:20px; text-align:right; padding-left:20px; line-height:15px}
.header-cart-text {line-height:15px}
.header-cart-name {font:12px/15px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; margin-bottom:-2px}
.header-cart-name a {text-decoration:none}
.header-cart-name a:hover {text-decoration:underline}
.header-cart-order {margin:20px 20px 17px 20px; display:block; height:40px; border-radius:2px; background:#cb0a0b; color:#fff; text-align:center; font:12px/44px P22UndergroundCYProBook, "PT Sans", sans-serif; text-decoration:none; text-transform:uppercase}
.header-cart-order:hover {background:#8e0e0f}
.header-cart-order:active {background:#b50c0d}



nav {width:960px; position:relative; z-index:10; margin:0 auto; text-transform:uppercase; background:#f3f3f3}
nav > ul {margin:0; padding:0; list-style:none; display:table; width:100%}
nav > ul > li {margin:0; padding:0; display:table-cell; height:40px; border-left:1px solid #e2e2e2; position:relative}
nav > ul > li:first-child {border-left:none}
nav > ul > li:before {display:none}
nav > ul > li > a {display:table-cell; height:28px; width:1000px; background:#f3f3f3; padding:12px 0 0 0; text-decoration:none; text-align:center; font:12px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; color:#000}
nav > ul > li.active > a {background:#ddd}
nav > ul > li:hover > a {color:#cb0a0b}
nav > ul > li > a > span {display:inline-block; vertical-align:top; width:0; height:0; margin:6px 0 0 4px; border-top:5px solid #cb0a0b; border-left:3px solid transparent; border-right:3px solid transparent}
.nav-sub {display:none; position:absolute; left:0; top:100%; background:#303030; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; text-align:left; padding:0 10px}
nav > ul > li:hover > .nav-sub {display:block}
.submenu {display:inline-block; vertical-align:top; width:220px; font:10px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; letter-spacing:0; padding:6px 0 2px 0}
.submenu ul {margin:0; padding:0; list-style:none}
.submenu li {margin:0; padding:0 0 4px 0}
.submenu li:before {display:none}
.submenu a {display:block; font:10px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; color:#fff; position:relative; padding:9px 0 7px 20px; text-decoration:none}
.submenu a:before {content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; box-sizing:border-box; border:1px solid #fff; opacity:.25}
.submenu a:hover:before {background:#fff}
.submenu a:hover:after {content:""; display:block; width:5px; height:100%; background:#cb0a0b; position:absolute; left:0; top:0}
.submenu a span {position:relative; z-index:2}
.nav-fav {display:inline-block; vertical-align:top; padding:0 20px 0 40px; width:660px}
.nav-fav-title {text-align:center; font:15px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; letter-spacing:0; color:#fff; text-align:center; padding:23px 0 0 0}
.nav-fav-list {padding:6px 0 11px 0}
.nav-fav-list a {margin:0 20px; display:inline-block; vertical-align:top; width:172px; height:112px; position:relative; overflow:hidden; border:2px solid #8b8b8b; padding:2px; transition:border-color .5s ease}
.nav-fav-list a:hover {border-color:#cb0a0b}

.slider {position:relative; margin:17px auto 0 auto; width:960px; background:#000; min-height:366px}
ul.slider-content {position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0; list-style:none}
ul.slider-content li {position:absolute; left:-9999px; top:-9999px; width:100%; height:100%; padding:0 68px 0 330px; color:#fff; box-sizing:border-box; background-repeat:no-repeat; background-position:center; background-size:cover}
ul.slider-content li:before {display:none}
.slider-content-type {text-transform:uppercase; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; padding:37px 0 0 0}
.slider-content-title {text-transform:uppercase; font:30px/30px P22UndergroundCYProDemi, "PT Sans", sans-serif; padding:22px 0 0 0}
.slider-content-text {font-size:15px; padding:12px 0 0 0; min-height:60px}
.slider-content-link {padding:14px 0 0 0}
.slider-content-link a {display:block; width:220px; height:36px; position:relative; font-weight:bold; font-size:15px; line-height:36px; text-align:center; text-decoration:none; color:#fff; text-transform:uppercase}
.slider-content-link a:before {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; border:2px solid #fff; box-sizing:border-box; opacity:.7; transition:border-color .5s ease}
.slider-content-link a:hover:before {border-color:#cb0a0b}
ul.slider-preview {position:absolute; z-index:5; left:330px; bottom:27px; margin:0; padding:0; list-style:none; font:10px/11px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase}
ul.slider-preview li {float:left; margin:0; padding:0 5px 0 0}
ul.slider-preview li:before {display:none}
ul.slider-preview a {display:block; position:relative; width:126px; height:32px; padding:0 20px 0 38px; color:#fff; text-decoration:none}
ul.slider-preview a:before {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; box-sizing:border-box; border:1px solid #fff; opacity:.25}
.slider-preview-photo {position:absolute; left:3px; top:3px; width:26px; height:26px; background:#000; overflow:hidden; line-height:0}
.slider-preview-photo img {position:relative; opacity:.5}
ul.slider-preview a:hover .slider-preview-photo img,
ul.slider-preview li.active .slider-preview-photo img {opacity:1}
.slider-preview-load {position:absolute; left:1px; top:1px; width:0; height:30px; background:#fff; opacity:.25}
.slider-preview-name {opacity:.5; padding:7px 0 0 0; position:relative}
ul.slider-preview a:hover .slider-preview-name,
ul.slider-preview li.active .slider-preview-name {opacity:.7}
ul.slider-menu {position:relative; z-index:5; padding:6px 0 0 10px; margin:0; list-style:none; width:220px}
ul.slider-menu li {margin:0; padding:0 0 4px 0}
ul.slider-menu li:before {display:none}
ul.slider-menu a {display:block; font:10px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; color:#fff; position:relative; padding:9px 0 7px 20px; text-decoration:none}
ul.slider-menu a:before {content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; box-sizing:border-box; border:1px solid #fff; opacity:.25}
ul.slider-menu a:hover:before {background:#fff}
ul.slider-menu a:hover:after {content:""; display:block; width:5px; height:100%; background:#cb0a0b; position:absolute; left:0; top:0}
ul.slider-menu a span {position:relative; z-index:5}

.events {width:940px; margin:0 auto; padding:17px 0 0 0}
.content .events {padding:21px 0 0 0}
.events:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.events a {float:left; display:table; width:456px; border:2px solid #e5e5e5; transition:border-color .5s ease; text-decoration:none}
.events a+a {float:right}
.events a:hover {border-color:#cb0a0b}
.events-photo {display:table-cell; vertical-align:middle; line-height:0; width:204px}
.events-text {display:table-cell; vertical-align:middle; padding:0 10px 0 0}
.events-title {font:15px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; color:#000}
.events-hint {color:#000; opacity:.7; margin:-4px 0 0 0}

.manufacturers {background:#f9f9f9}
.manufacturers-inner {width:960px; margin:41px auto 0 auto; padding:0 0 29px 0}
.manufacturers-title {text-align:center; font:20px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; text-transform:uppercase; padding:34px 0 0 0}
.manufacturers-logos {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; padding:16px 0 0 0}
.manufacturers-logos a {display:inline-block; vertical-align:top; border:1px solid #e5e5e5; background:#fff; transition:border-color .5s ease; width:138px; height:58px; line-height:58px; margin:20px 10px 0 10px}
.manufacturers-logos a:hover {border-color:#cb0a0b}
.manufacturers-logos a img {vertical-align:middle}
.manufacturers-list {display:none}
.manufacturers-list-letters {text-align:center; text-transform:uppercase; font:13px/13px P22UndergroundCYProBook, "PT Sans", sans-serif; padding:30px 0 0 0}
.manufacturers-list-letters ul {display:inline-block; vertical-align:top; margin:0; padding:0; list-style:none}
.manufacturers-list-letters ul li {float:left; margin:0 1px; padding:9px 7px 2px 7px}
.manufacturers-list-letters ul li.active {border:1px solid #c80025; padding:8px 6px 1px 6px}
.manufacturers-list-letters ul li:before {display:none}
.manufacturers-list-letters ul li a {text-decoration:none; color:#000}
.manufacturers-list-letters ul li a:hover {color:#c51228}
.manufacturers-list-cols {padding:37px 0 0 0}
.manufacturers-list-cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.manufacturers-list-col {float:left; width:150px; padding:0 0 0 10px}
.manufacturers-list-letter {position:relative; margin:16px 0 0 0}
.manufacturers-list-letter.hover:before,
.manufacturers-list-letter.active:before {content:""; display:block; position:absolute; left:-13px; top:-11px; padding:0 0 15px 0; width:100%; height:100%; border:1px dashed #c80025}
.manufacturers-list-letter:first-child {margin:0}
.manufacturers-list-letter div {font:13px/15px P22UndergroundCYProMedium, "PT Sans", sans-serif; color:#969696; transition:color .5s ease; position:relative}
.manufacturers-list-letter div.active,
.manufacturers-list-letter div.hover {color:#000}
.manufacturers-list-letter ul {margin:0; padding:0; list-style:none; font:10px/15px P22UndergroundCYProBook, "PT Sans", sans-serif; position:relative}
.manufacturers-list-letter ul li {margin:0; padding:0}
.manufacturers-list-letter ul li:before {display:none}
.manufacturers-list-letter a {text-decoration:none; color:#969696}
.manufacturers-list-letter ul.active a,
.manufacturers-list-letter ul.hover a {color:#000}
.manufacturers-list-letter a:hover,
.manufacturers-list-letter ul.active a:hover,
.manufacturers-list-letter ul.hover a:hover {color:#c51228}
.manufacturers-more-open {text-align:center; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; padding:31px 0 0 0}
.manufacturers-more-open a {color:#000; text-decoration:none}
.manufacturers-more-open a:before {content:""; display:inline-block; vertical-align:middle; width:11px; height:7px; background:url(../images/manufacturers-arrows.png); margin:-2px 9px 0 0}
.manufacturers-more-open a:after {content:""; display:inline-block; vertical-align:middle; width:11px; height:7px; background:url(../images/manufacturers-arrows.png); margin:-2px 0 0 9px}
.manufacturers-more-open a span {color:#626262}
.manufacturers-more-close {display:none; text-align:center; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; padding:31px 0 0 0}
.manufacturers-more-close a {color:#000; text-decoration:none}
.manufacturers-more-close a:before {content:""; display:inline-block; vertical-align:middle; width:11px; height:7px; background:url(../images/manufacturers-arrows.png) left -7px; margin:-2px 9px 0 0}
.manufacturers-more-close a:after {content:""; display:inline-block; vertical-align:middle; width:11px; height:7px; background:url(../images/manufacturers-arrows.png) left -7px; margin:-2px 0 0 9px}

.main-catalogue {width:960px; margin:0 auto; padding:49px 0 58px 0}
.content .main-catalogue,
.content .main-catalogue+.main-catalogue {border-top:1px solid #e5e5e5; padding:40px 0 38px 0; margin:0 0 0 -10px}
.project-category + .main-catalogue { border-top : none; }
.main-catalogue-tabs {text-align:center}
.main-catalogue-tabs ul {margin:0; padding:0; list-style:none; display:inline-block; vertical-align:top}
.main-catalogue-tabs li {float:left; margin:0; padding:0 10px}
.main-catalogue-tabs li:before {display:none}
.main-catalogue-tabs a {display:block; width:296px; height:36px; border:2px solid #e5e5e5; text-decoration:none; color:#000; font:15px/42px P22UndergroundCYProMedium, "PT Sans", sans-serif; text-transform:uppercase; transition:border-color .5s ease}
.main-catalogue-tabs a:hover {border-color:#7f7f7f}
.main-catalogue-tabs a:active {border-color:#cb0a0b}
.main-catalogue-tabs li.active a {border-color:#cb0a0b}

.main-catalogue-list {display:none; font-size:0; line-height:0; letter-spacing:-1px}
.main-catalogue-list.active {display:block}
.main-catalogue-item {display:inline-block; vertical-align:top; width:300px; padding:40px 10px 0 10px; text-align:center}
.main-catalogue-item:after {content:""; display:block; width:30px; height:1px; margin:18px auto 0 auto; background:#cb0a0b}
.main-catalogue-item a {display:block; text-decoration:none; color:#000; text-transform:uppercase}
.main-catalogue-item-photo {padding:2px; background:#fff; border:2px solid #dcdcdc; width:292px; position:relative; overflow:hidden; line-height:0; transition:border-color .5s ease}
.main-catalogue-item a:hover .main-catalogue-item-photo {border-color:#c51a1a}
.main-catalogue-discount {position:absolute; right:8px; top:8px; width:29px; height:29px; background:url(../images/main-catalogue-discount.png)}
.main-catalogue-item-name {font:12px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center; padding:21px 0 0 0}
.main-catalogue-item-title {font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center}

.main-middle {margin:0 auto; width:940px; display:table}
.main-middle-block {display:table-cell; width:460px; margin:0 auto; background:#f8f8f8; vertical-align:top; padding:44px 0 29px 0}
.main-middle-block+.main-middle-block {border-left:20px solid #fff}
.main-middle-title {text-align:center; text-transform:uppercase; font:20px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif}
.main-middle-all {font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; text-align:center}
.main-middle-all:before {content:""; display:inline-block; vertical-align:middle; width:13px; height:7px; background:url(../images/main-middle-all.png); margin:-2px 10px 0 0}
.main-middle-all a {color:#000; text-decoration:none}
.main-middle-all a:hover {color:#cb0a0b}

.main-articles {padding:16px 30px 11px 30px}
.main-article {border-top:1px solid #e5e5e5; padding:20px 0}
.main-article:first-child {border-top:none}
.main-article a {display:block; color:#000; text-decoration:none}
.main-article a:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-article-photo {float:left; line-height:0; padding:2px; background:#fff; border:2px solid #dcdcdc; width:112px; position:relative; overflow:hidden; line-height:0; transition:border-color .5s ease}
.main-article a:hover .main-article-photo {border-color:#c51a1a}
.main-article-photo+.main-article-text {margin-left:140px}
.main-article-title {font:12px/15px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; padding:5px 0 0 0}
.main-article-anonce {line-height:15px; padding:3px 0 0 0}

.main-projects {font-size:0; line-height:0; letter-spacing:-1px; padding:0 10px 47px 10px}
.main-project {display:inline-block; vertical-align:top; width:180px; padding:37px 20px 3px 20px}
.main-project:after {content:""; display:block; width:30px; height:1px; margin:18px auto 0 auto; background:#d0d0d0}
.main-project a {display:block; text-decoration:none; color:#000}
.main-project-photo {line-height:0; padding:2px; background:#fff; border:2px solid #dcdcdc; width:172px; position:relative; overflow:hidden; line-height:0; transition:border-color .5s ease}
.main-project a:hover .main-project-photo {border-color:#cb0a0b}
.main-project-name {font:12px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center; padding:21px 0 0 0}
.main-project-place {font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center}

.main-about {width:940px; margin:0 auto; padding:56px 0 41px 0}
.main-about-title {text-transform:uppercase; font:20px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; text-align:center}
.main-about-cols {padding:25px 0 0 0}
.main-about-cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-about-col {float:left; width:460px}
.main-about-col+.main-about-col {float:right}

.prefs {margin:0 0 -64px 0; background:#000 url(../images/prefs-bg.jpg) no-repeat center; background-size:cover; color:#fff; text-align:center}
.prefs-inner {width:960px; margin:0 auto}
.prefs-title {text-transform:uppercase; font:20px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; padding:54px 0 0 0}
.prefs-list {padding:44px 0 65px 0}
.prefs-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.prefs-item {float:left; width:220px; padding:0 10px}
.prefs-item-icon {line-height:80px; height:80px}
.prefs-item-icon img {vertical-align:middle}
.prefs-item-text {padding:21px 20px 0 20px}

footer {min-width:1000px; height:156px; position:relative; background:#f2f2f2; margin:-156px 0 0 0}
.footer-inner {width:940px; margin:0 auto}

.footer-contacts {float:left; width:300px; padding:15px 0 0 0}
.footer-contacts dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-contacts dt {float:left; clear:left; width:60px; opacity:.75}
.footer-contacts dd {margin-left:60px}
.footer-contacts a {color:#c80025; text-decoration:none}

.copyrights {font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; padding:21px 0 0 0}

.footer-social {float:left; width:162px; padding:32px 0 0 180px; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase}
.footer-social a {float:left; clear:left; text-decoration:none; color:#000; padding:0 0 0 29px; position:relative}
.footer-social a:hover {color:#cb0a0b}
.footer-social a span {display:block; position:absolute; left:0; top:0; width:20px; text-align:center}

ul.footer-menu {float:left; margin:0; padding:32px 0 0 0; list-style:none; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase}
ul.footer-menu li {margin:0; padding:0}
ul.footer-menu li a {color:#c80025; text-decoration:none}
ul.footer-menu li:before {display:none}

.dev {float:right; line-height:0; padding:26px 0 0 0}

.content {width:940px; margin:0 auto}

.breadcrumbs {text-transform:uppercase; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; margin:22px 0 37px 0}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:5px; height:7px; background:url(../images/breadcrumbs.png); margin:-2px 4px 0 6px}
.breadcrumbs a {text-decoration:none}

.content-img {margin:41px -10px 20px -10px; line-height:0}
.content-img img {width:100%}

.content-doc-link {margin:20px 0}
.content-doc-link:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.content-doc-link a {float:left; text-decoration:none}
.content-doc-link img {float:left; margin:0 10px 0 0}
.content-doc-link-text {float:left; text-transform:uppercase}
.content-doc-link-title {font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif}
.content-doc-link-info {font-size:11px; color:#000; margin-top:-2px}

.link-to-cart {display:block; text-decoration:none; text-align:center; text-transform:uppercase; color:#000; width:220px; height:30px; background:#f3f3f4; font:10px/34px P22UndergroundCYProDemi, "PT Sans", sans-serif; transition:color .5s ease, background-color .5s ease}
.link-to-cart img {vertical-align:middle; margin:-2px 7px 0 0}
.link-to-cart:hover {color:#cb0a0b; background:#e6e6e6}
.link-to-cart:active {color:#cb0a0b; background:#ebebeb}
.link-to-cart.active {background:#d8e7cf}

.table-title {display:table; width:100%; margin:40px 0 20px 0}
.table-title h3 {display:table-cell; vertical-align:middle; margin:0; padding:8px 0 0 0}
.table-title-all {display:table-cell; width:220px}
.cart-item-link {text-decoration:none}
.cart-item-link:hover {text-decoration:underline}
.cart-item-name {text-transform:uppercase; font:12px/14px P22UndergroundCYProDemi, "PT Sans", sans-serif}
.cart-item-name a {text-decoration:none}
.cart-item-name a:hover {text-decoration:underline}
.cart-item-price { font: 18px/20px "PT Sans", sans-serif; color: #cb0a0b; font-weight: bold; }
.cart-item-price .currency { font: 13px/16px "PT Sans", sans-serif; padding-right: 3px; font-weight: bold; }

.form-row {margin:17px 0}
.form-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-label {float:left; width:240px; text-transform:uppercase; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; padding:8px 0 0 0}
.form-label span {color:#cb0a0b}
.form-field {float:left; width:700px}

.form-input input {border:1px solid #bfbfbf; font:bold 15px/20px "PT Sans", sans-serif; color:#000; vertical-align:top; margin:0; padding:6px 9px 7px 9px; width:100%; height:33px; box-sizing:border-box; outline:none; border-radius:0; box-shadow:none; background:#fff; -webkit-appearance:none}
.form-input input.error {border-color:#cb0a0b}
.form-input input:focus {border-color:#000}

.form-textarea textarea {border:1px solid #bfbfbf; font:bold 15px/20px "PT Sans", sans-serif; color:#000; vertical-align:top; margin:0; padding:5px 9px 8px 9px; width:100%; height:93px; box-sizing:border-box; outline:none; border-radius:0; box-shadow:none; background:#fff; overflow:auto; resize:none; -webkit-appearance:none}
.form-textarea textarea.error {border-color:#cb0a0b}
.form-textarea textarea:focus {border-color:#000}

.form-hint {padding:2px 0 0 10px; color:#808080}
.form-input label.error,
.form-textarea label.error {color:#cb0a0b; padding:2px 0 0 10px}

.form-checkbox {float:left; padding:0 0 0 27px; position:relative; line-height:17px; cursor:pointer; margin:8px 27px 8px 0}
.form-checkbox span {display:block; position:absolute; left:0; top:0; width:17px; height:17px; overflow:hidden; background:url(../images/checkbox.png)}
.form-checkbox span.checked {background-position:left -17px}
.form-checkbox input {position:absolute; left:-99px; top:-99px}

.form-radio {float:left; padding:0 0 0 27px; position:relative; line-height:17px; cursor:pointer; margin:8px 27px 8px 0}
.form-radio span {display:block; position:absolute; left:0; top:0; width:17px; height:17px; overflow:hidden; background:url(../images/radio.png)}
.form-radio span.checked {background-position:left -17px}
.form-radio input {position:absolute; left:-99px; top:-99px}

.form-select { display : inline-block; }
.form-select select {width:300px; border:1px solid #bfbfbf; font: 15px/20px "PT Sans", sans-serif; color:#000; height:33px; margin:0; padding:6px 9px 7px 9px; box-sizing:border-box}
.form-select.long { display: block; }
.form-select.long select { width: 100%; }
.form-select + .form-select { margin-left : 20px; }
/* chosen css select styles override */
.chosen-single span { font-weight : normal; }
.chosen-container .chosen-results li { font-weight : normal; }
.chosen-container .chosen-results li.highlighted { background-color : #F2F2F2; color : black;}
.chosen-results li.result-selected {font-weight : bold;}
.chosen-container .chosen-drop { border-top : 1px solid #bfbfbf; border-color : #bfbfbf; }
.chosen-container-active .chosen-single {border : 1px solid #bfbfbf;}
.chosen-container-active.chosen-with-drop .chosen-single { border : 1px solid #bfbfbf;}
.chosen-container-single .chosen-single div b {
    margin-top: -3px;
    border-top: 7px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;	
}
.chosen-container-multi.chosen-with-drop .chosen-drop {
	width: 200px;
    border: 1px solid #bfbfbf;
    border-top: none;
    margin-top : -2px;
}
.chosen-container-multi .chosen-results {
	border-top : 1px solid #bfbfbf;
}
.chosen-container-multi .chosen-results li em {
	font-weight : bold;
	text-decoration: none;
}
.chosen-container-multi .chosen-results li {
	font-size : 10px;
    padding: 0px 9px 0px 9px;
    line-height: 26px;
}
.chosen-container-multi .chosen-choices,
.chosen-container-multi .chosen-choices li.search-field,
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height : 26px;
}
/*.chosen-container-multi.chosen-container-active .chosen-choices li.search-field:after {
	content : url('../images/select-cross.png');
	position : absolute;
	top  : 2px;
	right : 7px;
	width : 7px;
	height : 7px;
	display : inline-block;
}*/

.form-file-title {display:none; padding:5px 0}
.form-file-input {position:relative; width:140px; height:24px; padding:9px 0 0 0; overflow:hidden; background:#e9e9e9; text-align:center; cursor:pointer; text-transform:uppercase; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif}
.form-file-input:hover {color:#cb0a0b; background:#e6e6e6}
.form-file-input:active {color:#cb0a0b; background:#ebebeb}
.form-file-input span {background:url(../images/input-file.png) repeat-x left bottom}
.form-file-input:hover span {background:none}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}

.form-submit {margin:24px 0; text-align:right}
.form-submit input {vertical-align:top; border:none; border-radius:2px; background:#cb0a0b; overflow:visible; margin:0; padding:0 75px; outline:none; height:40px; color:#fff; text-align:center; cursor:pointer; font:12px/44px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; -webkit-appearance:none}
.form-submit input:hover {background:#8e0e0f}
.form-submit input:active {background:#b50c0d}

.form-required {margin:17px 0}
.form-required span {color:#cb0a0b}

.catalogue {padding:30px 0 0 0}
.catalogue:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.catalogue-menu {float:left; width:220px; text-transform:uppercase; font-size:10px; line-height:15px}
.catalogue-menu ul {margin:0; padding:0; list-style:none}
.catalogue-menu li {margin:0; padding:0}
.catalogue-menu li:before {display:none}
.catalogue-menu > ul {font-family:P22UndergroundCYProDemi, "PT Sans", sans-serif}
.catalogue-menu > ul > li > ul {font-family:P22UndergroundCYProBook, "PT Sans", sans-serif}
.catalogue-menu a {display:block; text-decoration:none; color:#000}
.catalogue-menu a:hover {color:#261f1c}
.catalogue-menu > ul > li {border-top:1px solid #e0e0e0}
.catalogue-menu > ul > li:first-child {border:none}
.catalogue-menu > ul > li > a {background:#eaeaea; padding:14px 10px 10px 20px}
.catalogue-menu > ul > li.active > a,
.catalogue-menu > ul > li > a:hover {background:#dadada; padding-left:15px; border-left:5px solid #cb0a0b}
.catalogue-menu > ul > li > ul > li {border-top:1px solid #ebebeb}
.catalogue-menu > ul > li > ul > li:first-child {border:none}
.catalogue-menu > ul > li > ul > li > a {background:#f9f9f9; padding:14px 10px 10px 30px}
.catalogue-menu > ul > li > ul > li.active > a,
.catalogue-menu > ul > li > ul > li > a:hover {background:#d2d3d4}

.catalogue-content {float:right; width:700px}

.pager {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; margin:30px 0 0 0}
.pager:first-child {margin:0}
.pager a {display:inline-block; vertical-align:top; width:31px; height:17px; margin:0 1px; border:1px solid #000; font:10px/19px P22UndergroundCYProDemi, "PT Sans", sans-serif; letter-spacing:0; text-align:center; text-decoration:none; color:#000}
.pager a.active,
.pager a:hover {border-color:#cb0a0b}
.pager span {display:inline-block; vertical-align:top; width:31px; height:17px; margin:0 1px; border:1px solid #bfbfbf; font:10px/19px P22UndergroundCYProDemi, "PT Sans", sans-serif; letter-spacing:0; text-align:center; text-decoration:none; color:#000}

.catalogue-list {font-size:0; line-height:0; letter-spacing:-1px; margin:0 0 0 -20px}
.catalogue-item {display:inline-block; vertical-align:top; width:220px; padding:30px 0 10px 20px; text-align:center}
.catalogue-item:after {content:""; display:block; width:30px; height:1px; margin:18px auto 0 auto; background:#cb0a0b}
.catalogue-item a {display:block; text-decoration:none; color:#000; text-transform:uppercase}
.catalogue-item-photo {padding:2px; background:#fff; border:2px solid #dcdcdc; width:212px; position:relative; overflow:hidden; line-height:0; transition:border-color .5s ease}
.catalogue-item a:hover .catalogue-item-photo {border-color:#c51a1a}
.catalogue-discount {position:absolute; right:8px; top:8px; width:29px; height:29px; background:url(../images/main-catalogue-discount.png)}
.catalogue-item-name {font:12px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center; padding:21px 0 0 0}
.catalogue-item-title {font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center}

.product-header {position:relative; padding:5px 0 0 0}
.product-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-header h1 {margin:0; text-align:center}
.product-prev {position:absolute; top:-8px; left:-10px; display:block; height:39px; text-decoration:none; color:#000; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; padding:0 0 0 19px}
.product-prev:hover {background:#f8f8f8}
.product-prev span {display:none; padding:12px 21px 0 9px}
.product-prev:hover span {display:block}
.product-prev:before {content:""; display:block; width:10px; height:17px; background:url(../images/product-header-arrows.png); position:absolute; left:9px; top:11px}
.product-prev:hover:before {background-position:left -17px}
.product-next {position:absolute; top:-8px; right:-10px; display:block; height:39px; text-decoration:none; color:#000; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; padding:0 19px 0 0}
.product-next:hover {background:#f8f8f8}
.product-next span {display:none; padding:12px 9px 0 21px}
.product-next:hover span {display:block}
.product-next:before {content:""; display:block; width:10px; height:17px; background:url(../images/product-header-arrows.png) -10px top; position:absolute; right:9px; top:11px}
.product-next:hover:before {background-position:-10px -17px}

.detail {padding:32px 0 20px 0}
.detail:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-photos {float:left; width:550px; margin:0 0 0 -10px; line-height:0}
.detail-photo-big {border:2px solid #dbdbdb; padding:2px; position : relative;}
.detail-photo-big img {width:100%}
.detail-photo-preview {margin:28px 0 0 -14px}
.detail-photo-preview:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-photo-preview ul {margin:0; padding:0; list-style:none}
.detail-photo-preview li {float:left; margin:14px 0 0 14px; position:relative; padding:0}
.detail-photo-preview li:before {display:none}
.detail-photo-preview a {display:block; width:72px; height:72px; padding:2px; border:2px solid #dcdcdc}
.detail-photo-preview a:hover {border-color:#e29898}
.detail-photo-preview li.active a {border-color:#f00}

.detail-info {float:right; width:380px}
.detail-info dl {margin:9px 0 -9px 0; padding:0}
.detail-info dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.detail-info dt {float:left; clear:left; width:160px; color:#626262; font:9px/24px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase}
.detail-info dd {margin-left:60px; font:13px/24px P22UndergroundCYProDemi, "PT Sans", sans-serif}
.detail-info h2 {border-bottom:1px solid #dbdbdb; padding-bottom:7px}
.detail-info h2.detail-info-sizes-title {border-bottom:none; margin-bottom:0; padding-bottom:0}
.detail-info table {border:none; margin-top:0; border-collapse:separate; border-spacing:0}
.detail-info th {padding:0 3px 6px 3px; white-space:nowrap; opacity:1}
.detail-info th:first-child {padding-left:11px}
.detail-info th.detail-info-head {color:#9e9e9e; padding-top:3px; width:1%; text-align:center}
.detail-info th.detail-info-head-sep {color:#bfbfbf; font:13px/20px "PT Sans", sans-serif; text-transform:none; width:1%; text-align:center}
.detail-info tbody tr:hover {background:#f3f3f4}
.detail-info td {border:none; border-top:2px solid #fff; padding:5px 3px; vertical-align:middle; white-space:nowrap}
.detail-info tr:first-child td {border-top:10px solid #fff}
.detail-info td:first-child {padding-left:11px}
.detail-info td.detail-info-val {width:1%; text-align:center}
.detail-info td.detail-info-val-sep {color:#bfbfbf; text-align:center}
.detail-info td.detail-info-cart {padding-right:10px}
.detail-info td.detail-info-cart .link-to-cart {width:100%}
.detail-info tbody tr:hover td.detail-info-cart .link-to-cart {background:#fff}

.detail-info .b-share_theme_counter {margin-left:-4px}

.history-title {text-align:center; text-transform:uppercase; font:15px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; margin:13px 0 -13px 0}

.basket {background:#f8f8f8; margin:0 -10px; padding:24px 30px 40px 30px}
.basket table {margin-bottom:0}
.basket .table-title {margin-top:0}
td.basket-photo {width:60px; padding:0 20px 0 0; line-height:0}
td.basket-del {width:19px; padding:0 0 0 20px}
td.basket-del a {display:block; width:19px; height:19px; background:url(../images/basket-del.png)}

.proejcts-title {text-align:center}
.projects {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px}
.project {display:inline-block; vertical-align:top; width:460px; padding:22px 10px 18px 10px}
.project:after {content:""; display:block; width:30px; height:1px; margin:18px auto 0 auto; background:#cb0a0b}
.project a {display:block; text-decoration:none; color:#000}
.project-photo {line-height:0; padding:2px; background:#fff; border:2px solid #dcdcdc; width:452px; position:relative; overflow:hidden; line-height:0; transition:border-color .5s ease}
.project a:hover .project-photo {border-color:#c51a1a}
.project-name {font:12px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center; padding:21px 0 0 0}
.project-place {font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; text-align:center}

.project-photos {margin:0 -20px; line-height:0; padding:17px 0 0 0; position : relative;}
.project-photo-big img {width:100%}

.project-info {background:#f3f3f3; padding:25px 30px 30px 30px;
	position: absolute;
    float: none;
    top: 37px;
    left: 20px;
    margin: 0;
}
.project-info-title {font:12px/15px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; border-bottom:1px solid #dadada; padding:0 0 14px 0}
.project-info-text {display:table; margin:19px 0 0 0}
.project-info-row {display:row}
.project-info-name {display:table-cell; vertical-align:middle; color:#6e6e6e; padding:0 10px 10px 0; 
	box-sizing : border-box;
	min-width : 110px;
}
.project-info-row.social { margin-top : 20px;}
.project-info-row .ya-share2__item { padding : 0; margin-right: 8px;}
.project-info-row .ya-share2__item:before { content : none;}
.project-info-value {display:table-cell; vertical-align:top; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; padding:2px 10px 8px 0; color:#c90a0b}
.project-info-value a {color:#c90a0b; text-decoration:none}
.project-info-value a:hover {text-decoration:underline}

.project-category {}
.project-category-title {text-align: center;}
.project-category-photos { text-align: center; margin-bottom: 30px;}
.project-category-photos:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.project-category-photos ul {margin:0; padding:0; list-style:none; display: inline-block;}
.project-category-photos li {float:left; margin:16px 20px 0 0px; position:relative; padding:0}
.project-category-photos li:last-child {margin-right : 0px}
.project-category-photos li:before {display:none}
.project-category-photos a {display:block; width:132px; height:132px; padding:2px; border:2px solid #dcdcdc}
.project-category-photos a:hover {border-color:#c90a0b}


/** Fancybox gallery override styles */
.fancygallery__lupa {
	display : inline-block;
	position : absolute;
	top : 30px;
	right : 30px;
	width : 30px;
	height : 30px;
	border-radius : 15px;
	background : rgba(120,120,120,.6) url('../images/zoom.png');
	background-repeat : no-repeat;
	background-position : center center;
}
.fancygallery__caller {
	cursor : pointer;
}
.fancygallery__lupa:hover {
	background-color : #cb0a0b;
}
.fancygallery__go {
	display : inline-block;
	position : absolute;
	top : 50%;
	margin-top : -20px;
	width : 40px;
	height : 40px;
	border-radius : 20px;
	background-color : rgba(120,120,120,.5);
	background-position : center center;
	background-repeat : no-repeat;
}
.fancygallery__go--prev {
	left : 24px;
	background-image : url('../images/arrow-left.png');}
.fancygallery__go--next {
	right : 24px;
	background-image : url('../images/arrow-right.png');
}
.fancygallery__go:hover {
	background-color : #cb0a0b;
}
.fancygallery__thumb-callers li img { width : 72px; height : 72px; cursor: pointer; }
.fancygallery__storage { display: none; }
.fancybox-close {display:block; position:absolute; right:-19px; top:-19px; width:39px; height:39px; background:#cb0a0b url('../images/fancybox/fancybox-close.png') no-repeat center; border-radius:20px}
.fancybox-close:hover,
.fancybox-close:active {background-color: #8e0e0f}

.fancybox-prev,
.fancybox-next {display:block; width:118px; height:100%; position:absolute; top:0; background:rgba(0, 0, 0, .5); opacity:0}
.fancybox-prev:hover,
.fancybox-next:hover {opacity:1}
.fancybox-prev span,
.fancybox-next span {display:block; width:39px; height:75px; position:absolute; left:50%; top:50%; margin:-38px 0 0 -20px; background:url('../images/fancybox/fancybox-arrows.png')}
.fancybox-prev {left:0}
.fancybox-next {right:0}
.fancybox-next span {background-position:-39px top}
.fancybox-title.fancybox-title-inside-wrap {
    height      : 40px;
    font        : 15px/20px P22UndergroundCYProBook, sans-serif;
    color       : black;
    text-align  : center;
    padding-top : 0;
    display     : table;
    width       : 100%;
}
.fancybox-title.fancybox-title-inside-wrap .title-extra-wrapper {
    display        : table-cell;
    vertical-align : middle;
}
.fancybox-overlay {background : rgba(0,0,0,.8); z-index: 2147483646; }
#fancybox-thumbs ul li {
    margin-right : 3px;
    border: none;
    padding : 2px;
}
#fancybox-thumbs ul li.active {
	padding : 1px;
	border : 1px solid #cb0a0b;
}
#fancybox-thumbs ul li a {
	border : 2px solid transparent;
	background : transparent;
}
.fancybox-opened {
    z-index : 2147483648 !important;
}

#fancybox-thumbs {
    left        : 50%;
    margin-left : -277.5px;
    width       : 555px;
    overflow-x  : hidden;
    z-index : 2147483648 !important;
}

#fancybox-thumbs ul { transition : left .3s ease-in; }
#fancybox-thumbs ul.pos-0 { left : 0 !important; }
#fancybox-thumbs ul.pos-1 { left : -111px !important;}
#fancybox-thumbs ul.pos-2 { left : -222px !important;}
#fancybox-thumbs ul.pos-3 { left : -333px !important;}
#fancybox-thumbs ul.pos-4 { left : -444px !important;}
#fancybox-thumbs ul.pos-5 { left : -555px !important;}
#fancybox-thumbs ul.pos-6 { left : -666px !important;}
#fancybox-thumbs ul.pos-7 { left : -777px !important;}
#fancybox-thumbs ul.pos-8 { left : -888px !important;}
#fancybox-thumbs ul.pos-9 { left : -999px !important;}
#fancybox-thumbs ul.pos-10 { left : -1110px !important;}
#fancybox-thumbs ul.bottom { bottom : 14px; }

#fancybox-thumbs ul li:hover {
	transition : opacity .3s ease-in;
}
.fancybox-thumb-control {
    background : #cb0a0b;
    height : 60px;
    width : 60px;
    border-radius : 30px;
    position : fixed;
    bottom : 36px;;
    z-index : 2147483647 !important;
}
.fancybox-thumb-control:hover {
	background : #8e0e0f;
}
.fancybox-thumb-control.disabled {
	background : #4B4B4B;
	cursor : default;
}
.fancybox-thumb-control.prev { left: 50%; margin-left : -357px; }
.fancybox-thumb-control.next { right : 50%; margin-right : -357px; }

.fancybox-thumb-control span {
    width      : 11px;
    height     : 20px;
    position   : absolute;
    left       : 50%;
    top        : 50%;
    margin     : -10px 0 0 -6px;
    background : url('../images/fancybox/thumb-controls.png');
}
.fancybox-thumb-control.next span {
    background-position: -11px top;
}
/** Fancybox gallery override styles */

.other-title {text-align:center; text-transform:uppercase; font:15px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; margin:12px 0 9px 0}

.link-more {display:inline-block; vertical-align:middle; height:25px; padding:0 10px 0 30px; background:#f8f8f8 url(../images/link-more.png) no-repeat 10px top; text-decoration:none; color:#000; font:10px/27px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; transition:color .5s ease, background-color .5s ease}
.link-more:hover {color:#261f1c; background-color:#dedede}
.link-more.active {background-position:10px -25px}

.more {display:none; margin:20px 0}

.project-example {display:table; width:100%}
.project-example-col {display:table-cell; vertical-align:top; background:#f8f8f8; padding:0 60px 13px 30px; width:50%}
.project-example-col h3 {text-align:center; margin-top:31px; margin-bottom:30px}
.project-example-col h4 {margin:29px 0 32px 0}
.project-example-sep {display:table-cell; vertical-align:middle}

.page-404 {text-align:center; padding:53px 0 18px 0}
.page-404-img {line-height:0}
.page-404-title {font:20px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; text-transform:uppercase; padding:38px 0 0 0}
.page-404-text {font-size:15px; padding:19px 0 0 0}
.content .page-404+.main-catalogue {border-top:none}

.search-form form {margin:0; padding:0}
.search-form form:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.search-form-input {float:left; width:530px}
.search-form-input .form-input input {border-color:#c9c9c9; font:15px/27px P22UndergroundCYProBook, "PT Sans", sans-serif; padding:7px 9px 6px 9px; height:40px}
.search-form-submit {float:left; width:140px; padding:0 0 0 20px}
.search-form-submit .form-submit {margin:0}
.search-form-submit .form-submit input {padding:0; width:100%; text-align:center}

.search-results-count {text-transform:uppercase; font:10px/12px P22UndergroundCYProBook, "PT Sans", sans-serif; padding:15px 0 0 0}

.search-results {padding:51px 0 27px 0}
.search-results h3 {margin:0}
.search-results+.search-results {border-top:2px solid #dcdcdc}
.search-results .projects {padding:7px 0 0 0}
.search-articles {margin:0 0 -27px 0}
.search-article {border-top:1px solid #dcdcdc; padding:28px 0 31px 0}
.search-article:first-child {border-top:none}
.search-article a {color:#000; text-decoration:none}
.search-article a:hover {color:#cb0a0b}
.search-mark {background:#c90a0b; color:#fff; display:inline-block; vertical-align:middle; padding:0 4px}

.filter {background:#f0f0f0; padding:0 31px 18px 31px}
.filter.open {padding-top:27px}
.filter form {margin:0; padding:0}
.filter-row {display:none}
.filter.open .filter-row {display:block}
.filter-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.filter-row-developer {padding:17px 0}
.filter-label {float:left; width:110px; font:10px/12px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; padding:8px 0 0 0}
.filter-label span {color:#808080; font-family:P22UndergroundCYProBook, "PT Sans", sans-serif}
.filter-field {margin-left:110px}
.filter-input input {vertical-align:top; border:1px solid #c9c9c9; margin:0; padding:5px 10px 2px 10px; outline:none; color:#000; width:100%; height:25px; box-sizing:border-box; background:#fff; font:10px/16px P22UndergroundCYProBook, "PT Sans", sans-serif; -webkit-appearance:none}
.filter-input input::-webkit-input-placeholder {color:#737373; opacity:1; text-transform:uppercase}
.filter-input input::-moz-placeholder {color:#737373; opacity:1; text-transform:uppercase}
.filter-input input:-ms-input-placeholder {color:#737373; opacity:1; text-transform:uppercase}

.filter-checkbox {float:left; margin:3px 5px 0 0; cursor:pointer; position:relative; height:14px; padding:5px 5px 0 5px; text-transform:uppercase; font:10px/12px P22UndergroundCYProMedium, "PT Sans", sans-serif; border-radius:2px}
.filter-checkbox input {display:none}
.filter-checkbox.checked {background:#fff; color:#c90a0b}
.filter-checkbox span {background:url(../images/dots.png) repeat-x left bottom}
.filter-checkbox:hover span,
.filter-checkbox.checked span {background:none}

.filter-sizes {padding:0 0 20px 0; display:none}
.filter.open .filter-sizes {display:block}
.filter-sizes:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.filter-size {float:left; width:146px; padding:0 0 0 18px}
.filter-size:first-child {padding:0}
.filter-size .filter-label {float:none; width:auto; padding-bottom:5px}
.filter-size .filter-input {float:left; width:72px}
.filter-size .filter-input+.filter-input {margin:0 0 0 2px}

.filter-ctrl {padding:15px 0 0 0}
.filter-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.filter-show {float:left}
.filter-show a {float:left; text-decoration:none; padding:8px 0 0 16px; position:relative; text-transform:uppercase; color:#000; font:10px/12px P22UndergroundCYProBook, "PT Sans", sans-serif}
.filter-show a:before {content:""; display:block; width:11px; height:10px; position:absolute; left:0; top:7px; background:url(../images/filter-open.png)}
.filter-show a:hover {color:#cb0a0b}
.filter.open .filter-show a:before {background-position:left -10px}
.filter-submit {float:right; display:none}
.filter.open .filter-submit {display:block}
.filter-submit input {vertical-align:top; border:none; border-radius:2px; background:#cb0a0b; overflow:visible; margin:0; padding:8px 0 5px 0; outline:none; box-sizing:content-box; width:120px; height:12px; color:#fff; text-align:center; cursor:pointer; font:10px/12px P22UndergroundCYProMedium, "PT Sans", sans-serif; text-transform:uppercase; -webkit-appearance:none}
.filter-submit input:hover {background:#8e0e0f}
.filter-submit input:active {background:#b50c0d}
.filter-reset {float:right; padding:0 20px 0 0; display:none}
.filter.open .filter-reset {display:block}
.filter-reset input {vertical-align:top; border:none; background:transparent url(../images/filter-reset.png) no-repeat left 7px; overflow:visible; margin:0; padding:8px 0 5px 14px; box-sizing:content-box; outline:none; height:12px; color:#000; text-align:center; cursor:pointer; font:10px/12px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; transition:color .5s ease; -webkit-appearance:none}
.filter-reset input:hover {color:#cb0a0b}

.filter-select select {width:100%; border:1px solid #c9c9c9; font:bold 15px/20px "PT Sans", sans-serif; color:#000; margin:0; padding:5px 10px 2px 10px; box-sizing:border-box}

.articles {font-size:0; line-height:0; letter-spacing:-1px; margin:-30px 0 0 -20px}
.article {display:inline-block; vertical-align:top; width:220px; padding:30px 0 10px 20px}
.article:after {content:""; display:block; width:30px; height:1px; margin:28px auto 0 auto; background:#cb0a0b}
.article a {display:block; text-decoration:none; color:#000}
.article-photo {padding:2px; background:#fff; border:2px solid #dcdcdc; width:212px; position:relative; overflow:hidden; line-height:0; transition:border-color .5s ease}
.article a:hover .article-photo {border-color:#c51a1a}
.article-name {font:12px/15px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; letter-spacing:0; padding:15px 0 0 0; text-transform:uppercase}
.article-anonce {font-size:13px; line-height:15px; letter-spacing:0; padding:11px 0 0 0}

.cart-success-text {text-align:center; background:#c1ff8e; text-align:center; padding:21px 0 17px 0; margin:24px 0 47px 0}
.cart-success-text div {font:13px/20px P22UndergroundCYProMedium, "PT Sans", sans-serif; text-transform:uppercase; padding:2px 0 0 0}

.cart-success-data {margin:20px 0 57px 0}
.cart-success-data dl {margin:0; padding:0}
.cart-success-data dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cart-success-data dt {float:left; clear:left; width:220px; margin:0; padding:4px 20px 6px 0; text-transform:uppercase; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif}
.cart-success-data dd {float:left; width:700px; margin:0; padding:0 0 6px 0; font-size:14px; color:#272727}

.cart-success-continue {margin:30px 0 0 0}
.cart-success-continue a {display:inline-block; vertical-align:top; height:40px; border-radius:2px; background:#cb0a0b; color:#fff; padding:0 36px; font:12px/44px P22UndergroundCYProBook, "PT Sans", sans-serif; text-decoration:none; text-transform:uppercase}
.cart-success-continue a:hover {background:#8e0e0f}
.cart-success-continue a:active {background:#b50c0d}

.detail-info-preorder {padding:16px 0 0 0; border-top:1px solid #dbdbdb; margin:19px 0 -4px 0}
.detail-info-preorder .link-to-cart {width:100%}

.article-back-link {margin:-17px 0 -40px 0; font:10px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; text-transform:uppercase; padding:0 0 0 20px; background:url(../images/article-back-link.png) no-repeat left 6px}
.article-back-link a {text-decoration:none}

.contacts {margin-top:-5px}
.contacts:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.contacts-col {float:left; width:280px; padding:0 0 0 50px}
.contacts-col:first-child {padding:0}

.contacts h1 {margin:0}

.contacts-text {margin:15px 0 0 0}
.contacts-text dl {margin:0; padding:0}
.contacts-text dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.contacts-text dt {float:left; clear:left; width:85px; margin:0; padding:4px 10px 10px 0; text-transform:uppercase; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif}
.contacts-text dd {float:left; width:185px; margin:0; padding:0 0 10px 0; font-size:14px; color:#272727}
.contacts-text dd a {text-decoration:none}

.contacts .content-doc-link {margin:20px 0; background:#f9f9f9; padding:20px}

.contacts-title {text-transform:uppercase; font:20px/20px P22UndergroundCYProBook, "PT Sans", sans-serif}
.contacts form {margin:-6px 0 0 0}
.contacts .form-label {float:none; width:auto}
.contacts .form-field {float:none; width:auto}
.contacts .form-submit input {padding:0; width:100%}

.team {padding:17px 0 0 0}
.team-item {border-top:1px solid #dbdbdb; padding:10px 0}
.team-item:first-child {border:none}
.team-item:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.team-item-photo {float:left; line-height:0; width:120px}
.team-item-text {float:right; width:140px; font-size:14px}
.team-item-name {text-transform:uppercase; font:12px/20px P22UndergroundCYProBook, "PT Sans", sans-serif; padding:2px 0 0 0}
.team-item-post {margin-top:-3px}
.team-item-phone {padding-top:10px}
.team-item-email a {text-decoration:none}

.individual {margin:28px 0 42px 0}
.individual-title {font:15px/20px P22UndergroundCYProDemi, "PT Sans", sans-serif; text-transform:uppercase; text-align:center}
.individual-title:after {content:""; display:block; width:30px; height:1px; background:#cb0a0b; margin:19px auto 0 auto}
.individual-text {text-align:center}
.individual-gallery {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px}
.individual-gallery a {display:inline-block; vertical-align:top; border:2px solid #dcdcdc; width:216px; height:216px; position:relative; overflow:hidden; margin:20px 10px; line-height:216px; transition:border-color .5s ease}
.individual-gallery a:hover {border-color:#c90a0b}
.individual-gallery a img {vertical-align:middle}
.individual-gallery-mid a {width:296px; height:196px; line-height:196px}
.individual-gallery-max a {width:456px; height:296px; line-height:296px}

.individual-link {text-align:center}
.individual-link a {display:inline-block; vertical-align:top; width:300px; height:40px; border-radius:2px; background:#cb0a0b; color:#fff; text-align:center; font:12px/44px P22UndergroundCYProBook, "PT Sans", sans-serif; text-decoration:none; text-transform:uppercase}
.individual-link a:hover {background:#8e0e0f}
.individual-link a:active {background:#b50c0d}

.item-gallery {position:fixed; left:-9999px; top:0; width:100%; height:100%; z-index:99997; overflow:auto; background:rgba(0, 0, 0, .8)}
.item-gallery-open {left:0}
.item-gallery-container {position:relative; width:940px; margin:0 auto}
.item-gallery-title {font:15px/20px P22UndergroundCYProBook, sans-serif; text-align:center; padding:11px 0 9px 0; background:#fff}
.item-gallery-big {text-align:center; font-size:0; line-height:0; position:relative}
.item-gallery-big strong {visibility:hidden; position:relative; display:inline-block; vertical-align:middle}
.item-gallery-big strong img {vertical-align:top}
.item-gallery-prev,
.item-gallery-next {display:block; width:118px; height:100%; position:absolute; top:0; background:rgba(0, 0, 0, .5); opacity:0}
.item-gallery-prev:hover,
.item-gallery-next:hover {opacity:1}
.item-gallery-prev span,
.item-gallery-next span {display:block; width:39px; height:75px; position:absolute; left:50%; top:50%; margin:-38px 0 0 -20px; background:url(../images/item-gallery-arrows.png)}
.item-gallery-prev {left:0}
.item-gallery-next {right:0}
.item-gallery-next span {background-position:-39px top}
.item-gallery-close {display:block; position:absolute; right:-20px; top:-20px; width:39px; height:39px; background:#cb0a0b url(../images/item-gallery-close.png) no-repeat center; border-radius:20px}
.item-gallery-close:hover {background-color:#8e0e0f}
.item-gallery-close:active {background-color:#b50c0d}
.item-gallery-big img {position:relative; width:100%}
.item-gallery-content {position:relative}
.item-gallery-list {width:800px; line-height:0; position:relative; overflow:hidden; margin:0 auto}
.item-gallery-list ul {position:relative; margin:0; padding:20px 0; list-style:none; width:9999px}
.item-gallery-list ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.item-gallery-list ul li {float:left; margin:0 5px; padding:5px; position:relative}
.item-gallery-list ul li:before {display:none}
.item-gallery-list ul li.active {padding:3px; border:2px solid #cb0a0b}
.item-gallery-list ul li img {opacity:.5; transition:opacity .5s ease}
.item-gallery-list ul li a:hover img,
.item-gallery-list ul li.active img {opacity:1}
.item-gallery-list-prev,
.item-gallery-list-next {position:absolute; top:50%; margin-top:-30px; display:block; width:60px; height:60px; background:#cb0a0b; border-radius:30px}
.item-gallery-list-prev {left:0}
.item-gallery-list-next {right:0}
.item-gallery-list-prev:hover,
.item-gallery-list-next:hover {background:#8e0e0f}
.item-gallery-list-prev:active,
.item-gallery-list-next:active {background:#b50c0d}
.item-gallery-list-prev span,
.item-gallery-list-next span {display:block; width:11px; height:20px; position:absolute; left:50%; top:50%; margin:-10px 0 0 -6px; background:url(../images/item-gallery-list-arrows.png)}
.item-gallery-list-next span {background-position:-11px top}
.item-gallery-loading {position:absolute; left:-15px; top:-15px; padding:15px; width:100%; height:100%; background:rgba(0, 0, 0, .2) url(../images/gallery-loading.gif) no-repeat center}
.item-gallery-load {position:absolute; left:-9999px; top:-9999px; visibility:hidden}